<div class="footer">
    <div class="footer__logo">
        <img routerLink="" src="../../../assets/logoblanco.png" alt="">
        <h1 routerLink="">Four Corners</h1>
        <div class="footer__logo--social">
           <a href="https://www.instagram.com/12jav1/" target="_blank"><img src="../../../assets/insta.png" alt="instagram"></a>
           <a href="https://github.com/JaviiAzagra" target="_blank"><img src="../../../assets/git.png" alt="instagram"></a>
           <a href="https://twitter.com/JaviAzagra_" target="_blank"><img src="../../../assets/Sin título-1.png" alt="instagram"></a>
        </div>
    </div>
    <div class="footer__terminos">
        <div class="footer__terminos--soporte">
            <h5>SOPORTE</h5>
            <ul>
                <li routerLink="shipping"><a>Envíos</a></li>
                <li><a>Preguntas frecuentes</a></li>
                <li routerLink="return"><a>Devoluciones</a></li>
            </ul>
        </div>
        <div class="footer__terminos--legal">
            <h5>AVISO LEGAL Y COOKIES</h5>
            <ul>
                <li><a>Política de privacidad</a></li>
                <li><a>Condiciones de Compra</a></li>
                <li><a>Aviso Legal</a></li>
                <li><a>Politica de Cookie</a>s</li>
            </ul>
        </div>

        <div class="footer__terminos--nosotros">
            <h5>SOBRE NOSOTROS</h5>
            <ul>
                <li><a>Nuestra Historia</a></li>
                <li><a>Programa de fidelización</a></li>
            </ul>
        </div>
    </div>
    <div class="footer__contact">
        <h5>NUESTRA TIENDA</h5>
        <p>Madrid / Spain</p>
        <a href="mailto:javiazagra12@gmail.com">javiazagra12@gmail.com</a>
        <a href="https://goo.gl/maps/tHAbPxEouwX8fHEz6" target="_blank">Calle de Fuencarral, 34, 28004 Madrid</a>
    </div>
</div>