<header class="header">
  <h1 class="header__h1">
    <div router routerLink="/" class="nav__title">
      <img src="../../../assets/logo.png" alt="" />
      <h1>Four Corners</h1>
    </div>
  </h1>

  <button (click)="setActive()" class="header__button">
    <svg
      class="header__svg"
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
      />
    </svg>
  </button>

  <nav class="header__nav" [ngClass]="{ 'header__nav--activo': active }">
    <div class="header__ul">
      <a class="header__li" router routerLink="">Home</a>
      <div class="dropdown">
        <a class="header__li" routerLink="/sneakers">Sneakers</a>
      </div>
      <a class="header__li" routerLink="hoodies">Hoodies</a>
    </div>
  </nav>
</header>
