.box {
  text-align: center;

  &__info {
    background-color: #f38d68;
    padding: 10px;
    border-bottom: 1px solid black;
    /*     border-top: 1px solid black; */

    p {
      color: black;
      font-weight: bold;
    }
  }

  &__header {
    text-align: center;

    img {
      height: auto;
      border-style: none;
      vertical-align: top;
      width: 100%;
    }

    p {
      position: absolute;
      top: 45%;
      left: 50%;
      color: white;
      font-size: 30px;
      font-weight: bold;
      transform: translate(-50%, -50%);
      text-shadow: 0 0 0.2em black;
    }
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      color: white;
      font-size: 30px;
      transform: translate(-50%, -50%);
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-top: 50px;
  padding-bottom: 50px;

  p {
    text-align: justify;
    font-size: 35px;
    padding-left: 1%;
    padding-top: 40px;
    font-weight: 300;
  }

  &__marcas {
    display: flex;
    width: 100%;
    gap: 20px;

    img {
      width: 100%;
    }

    &--adidas {
      position: relative;
      text-align: center;
      cursor: pointer;

      p {
        position: absolute;
        top: 1%;
        left: 2%;
        color: white;
        font-size: 30px;
        transform: translate(-50%, -50%);
        text-shadow: 0 0 0.2em black;
        cursor: pointer;
      }
    }
  }
  &__products {
    display: flex;
    width: 100%;
    gap: 20px;

    img {
      width: 100%;
    }
  }

  &__colecciones {
    width: 100%;
    gap: 20px;

    img {
      width: 25%;
    }
  }

  &__sneaker {
    position: relative;
    text-align: center;
    cursor: pointer;

    img {
      border-radius: 20px;
      width: 350px;
    }

    &--title {
      position: absolute;
      top: 50%;
      left: 50%;
      color: white;
      font-size: 40px;
      transform: translate(-50%, -50%);
      text-shadow: 0 0 0.2em black;
      cursor: pointer;
    }
  }

  &__hoodies {
    position: relative;
    text-align: center;

    img {
      border-radius: 20px;
      width: 350px;
    }

    &--title {
      position: absolute;
      top: 50%;
      left: 50%;
      color: white;
      font-size: 40px;
      transform: translate(-50%, -50%);
      text-shadow: 0 0 0.2em black;
    }
  }

  &__about {
    display: flex;
    width: 100%;
    gap: 20px;

    &--img {
      justify-content: flex-start;
      display: flex;
      flex-direction: column;
      border-width: 1px;
      width: 50%;
      align-self: stretch;
      img {
        width: 100%;
      }
    }
    &--box {
      justify-content: center;
      display: flex;
      flex-direction: column;
      background-color: #f6f6f6;
      border-style: none;
      border-width: 1px;
      width: calc(50% - 6px);
      margin: 0 3px;
      padding: 40px;
      align-self: stretch;
      &--text {
        text-align: justify;
        line-height: 20px;
        width: 100%;
        h1 {
          text-align: start;
          font-size: 14px;
          padding-top: 15px;
          padding-bottom: 3px;
        }
        h2 {
          padding-bottom: 20px;
        }
        p {
          font-size: 14px;
          padding-top: 15px;
          padding-left: 0;
        }
      }
    }
  }
  &__newsletter {
    text-align: center;
    padding-top: 40px;
    input {
      width: 320px;
      height: 3rem;
      border: 0;
      border-bottom: 1px solid #969696;
      margin-bottom: 1rem;
      outline: 0;
      font-size: 1.4rem;
      color: #000;
    }

    input::placeholder {
      opacity: 0.5;
      font-size: 15px;
      padding: 5px;
    }
  }
}

@media screen and (max-width: 920px) {
  .box {
    text-align: center;

    &__header {
      text-align: center;

      img {
        height: 100%;
        border-style: none;
        vertical-align: top;
        width: 100%;
      }

      p {
        position: absolute;
        top: 40%;
        left: 50%;
        font-size: 25px;
        color: white;
        font-weight: bold;
        transform: translate(-50%, -50%);
        text-shadow: 0 0 0 0.3em black;
      }
      span {
        position: absolute;
        top: 46%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 100px;

    p {
      text-align: justify;
      font-size: 30px;
      padding-left: 2%;
      padding-top: 20px;
      font-weight: 300;
    }

    &__marcas {
      display: flex;
      flex-direction: column;
      height: auto;
      border-style: none;
      vertical-align: top;
      width: 100%;
      gap: 20px;

      img {
        width: 100%;
      }
    }
    &__products {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 20px;

      img {
        width: 100%;
      }
    }
    &__colecciones {
      display: flex;
      flex-direction: column;
      width: 100%;

      img {
        width: 100%;
      }
    }
    &__about {
      display: flex;
      flex-direction: column;
      flex-direction: column-reverse;
      width: 100%;

      &--img {
        width: 100%;
      }

      &--box {
        width: 100%;
        margin: 0;
        p {
          font-size: 14px;
          padding-top: 15px;
          padding-left: 0;
        }
      }
    }
  }
}
