<div class="box">
  <div class="box__info">
    <p>
      "I just want to create a brand that inspires and is geared towards young
      people" - Virgil Abloh
    </p>
  </div>
  <div class="box__header">
    <img src="../../../assets/homeimg.png" alt="homeimg" />
    <p>NEW DROP IN</p>
    <span
      ><ctimer-countdown-timer
        [finishDateString]="'2023-06-12 00:00:00'"
      ></ctimer-countdown-timer
    ></span>
  </div>
  <div class="container">
    <p>Sneakers</p>
    <div class="container__marcas">
      <img
        routerLink="sneakers/adidas"
        class="container__marcas--adidas"
        src="../../../assets/adidas.png"
        alt="adidas"
      />
      <img
        routerLink="sneakers/nike"
        class="container__marcas--name"
        src="../../../assets/nike.png"
        alt="adidas"
      />
    </div>

    <p>Destacado</p>
    <div class="container__colecciones">
      <img src="../../../assets/airforce.png" alt="adidas" />
      <img src="../../../assets/balenciaga.png" alt="adidas" />
      <img src="../../../assets/dunk.png" alt="adidas" />
      <img src="../../../assets/yeezy.png" alt="adidas" />
    </div>
    <p>Catálogo</p>
    <div class="container__products">
      <img
        routerLink="sneakers"
        src="../../../assets/sneakers.png"
        alt="adidas"
      />
      <img
        routerLink="hoodies"
        src="../../../assets/hoodies.png"
        alt="adidas"
      />
    </div>

    <div class="container__about">
      <div class="container__about--img">
          <img src="assets/aboutimg.png" alt="" />
      </div>

      <div class="container__about--box">
        <div class="container__about--box--text">
          <h2>Sobre nosotros</h2>
          <h1>
            Four Corners es una tienda online para los amantes de las zapatillas
            exclusivas y la ropa contemporánea
          </h1>
          <p>
            Fundada por cinco amigos en el corazón de Barcelona y con más de
            diez años de experiencia, Four Corners se ha convertido ya en todo un
            referente para quienes aprecian la moda de vanguardia. Con su amplio
            catálogo, Four Corners ha logrado unir el lujo con el streetwear, ofreciendo
            el equilibrio ideal entre funcionalidad y estilo.
          </p>
          <p>
            Las colecciones propias como Four Corners FOUNDATION SERIES, Four Corners Decade y Four Corners
            Cool Kids Club™, así como las colaboraciones con marcas de renombre
            y artistas multidisciplinares, son la prueba del compromiso de Four Corners
            por la moda, la innovación y la creatividad.
          </p>
          <p>
            Gracias a las tiendas físicas de Barcelona, Madrid y próximamente
            Dubai, además del servicio de venta online, Four Corners pone al alcance de
            cualquiera los últimos lanzamientos, las colaboraciones más
            exclusivas y las tendencias más llamativa
          </p>
          <h1>
            Todas las novedades de las marcas más valoradas en un único espacio
          </h1>
          <p>
            Cada temporada, el catálogo crece con nuevos raffles, lanzamientos
            exclusivos, ediciones limitadas y reediciones de marcas como Nike,
            adidas, Converse, Asics, Vans, Jordan, Salomon, New Balance, Reebok
            y muchas otras.
          </p>
          <h1>
            Lo último en streetwear: diseñadores de renombre y marcas emergentes
          </h1>
          <p>
            Descubre colecciones de marcas de renombre indiscutible como Comme
            des Garçons, KAPITAL, KENZO, Levi's, Rick Owens, Boris Bidjan
            Saberi, Carhartt WIP, Junya Watanabe MAN, Hender Scheme, Reese
            Cooper, Rassvet, Stüssy, Undercover, WILLY CHAVARRIA o WTAPS. Piezas
            y siluetas icónicas que combinan a la perfección funcionalidad y
            estética.
          </p>
          <p>
            Además, Four Corners cuenta con una selecta gama de accesorios, art toys,
            regalos, objetos para el hogar y también para el cuidado personal
            que completan la esencia de Four Corners.
          </p>
        </div>
      </div>
    </div>
    <div class="container__newsletter">
      <h1>Newsletter</h1>
      <input type="email" placeholder="Introduce tu correo electrónico"/>
    </div>

    <!-- <div routerLink="sneakers" class="container__sneaker">
        <h3 class="container__sneaker--title">SNEAKERS</h3>
        <img class="container__sneaker--img" src="../../../assets/sneakers.png" alt="sneakers">
    </div>
    <div routerLink="hoodies" class="container__hoodies">
        <h3 class="container__hoodies--title">HOODIES</h3>
        <img class="container__hoodies--img" src="../../../assets/hoodies.png" alt="hoodies">
    </div> -->
  </div>
</div>
