.returns {
  padding-top: 50px;
  padding-bottom: 60px;

  h1 {
    font-size: 34px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
  }

  &__box {
    width: 100%;
    max-width: 47rem;
    margin: 0 auto;
    padding: 0 1.6rem;
    font-size: 15px;
    border-bottom: 1px solid #e2e2e2;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 17px;

    ul {
      padding-left: 2rem;
      line-height: 37px;
      padding-top: 20px;
    }

    h3 {
      font-size: 23px;
    }

    p {
      padding-top: 20px;
      line-height: 30px;
    }
  }

  &__faq{
    width: 100%;
    max-width: 47rem;
    margin: 0 auto;
    padding: 0 1.6rem;
    font-size: 15px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 17px;

    a{
        text-decoration: none;
        color: black;
    }
    a:hover{
        text-decoration: underline;
    }
  }
}
