<div class="returns">
  <h1>Devoluciones</h1>

  <div class="returns__box">
    <h3>Condiciones para devolver uno o más artículos</h3>
    <ul>
      <li>
        Debes realizar la devolución dentro de los 14 días posteriores desde que
        recibiste los productos.
      </li>
      <li>
        Informarte que no realizamos cambios. Si lo deseas, puedes tramitar una
        devolución y realizar un nuevo pedido con la talla deseada.
      </li>
      <li>
        La devolución se debe realizar desde el mismo país al que se hizo el
        envío.
      </li>
      <li>
        El artículo debe estar en su estado original, sin usar, sin alterar y
        sin lavar.
      </li>
      <li>
        El artículo debe devolverse con las etiquetas y el embalaje en su estado
        original.
      </li>
      <li>
        No podrá ser procesada la devolución de calcetines, ropa interior y
        bañadores.
      </li>
    </ul>
  </div>

  <div class="returns__box">
    <h3>Paso 1</h3>
    <h3>Introduce tu devolución en una caja de protección</h3>
    <p>
      Debes usar una caja de seguridad de acuerdo con el tamaño y el volumen de
      los productos. La misma caja original de Four Corners te servirá.
    </p>
  </div>

  <div class="returns__box">
    <h3>Paso 2</h3>
    <h3>Imprime el formulario de devoluciones</h3>
    <br />
    Descarga el formulario de devolución aquí, imprímelo, complétalo e
    introdúcelo dentro de la caja.
    <br />
    <br />
    Si realizas una devolución desde fuera de la UE, descarga el formulario de
    devolución internacional aquí, imprímelo, complétalo e introdúcelo dentro de
    la caja.
    <br />
    <br />
    Si no dispones de medios para imprimir el formulario, por favor incluye un
    folio con los datos que se solicitan en el mismo.
  </div>

  <div class="returns__box">
    <h3>Paso 3</h3>
    <h3>
      Escoge si prefieres enviarnos el producto o depositar gratuitamente tu
      devolución en nuestras tiendas físicas
    </h3>
    <p>3.1 Envíanos el producto</p>
    <p>Utiliza la mensajería que desees y envía tus productos a:</p>
    <ul>
      <li>
        Europa y el resto del mundo: Four Corners, Calle Maracaibo 5, 08030,
        Barcelona, España.
      </li>
      <ul>
        <li>
          Importante: Las devoluciones no se pueden realizar personalmente en
          nuestro centro logístico, si acudes a la dirección de entrega la
          devolución no será aceptada. Si habitualmente depositas tus
          devoluciones en alguna de nuestras tiendas Four Corners y estas se
          encuentran temporalmente cerradas, por favor contacta con nuestro
          equipo de Soporte.
        </li>
      </ul>
      <br />
      <li>
        GCC: Emirates Logistics LLC, Plot number 347-0, Jumbo Central warehouse,
        Jebel Ali industrial-01 (Facing Al.abbar Aluminum factory), Dubai, UAE.
      </li>
      <ul>
        <li>
          Horario de apertura para devoluciones presenciales: de lunes a viernes
          de 09:00 h a 16:00 h y sábados de 09:00 h a 12:00 h.
        </li>
      </ul>
    </ul>
    <br />
    <p>
      Los gastos de envío de la devolución son a cargo del comprador. Ten en
      cuenta que deberás utilizar un servicio de envío que cubra los gastos de
      aduanas e importación en destino.
    </p>
    <p>
      3.2 Deposita gratuitamente tu devolución en nuestras tiendas físicas, solo
      deberás indicar el número de pedido.
    </p>
    <ul>
      <li>Barcelona, Calle Bailén 18</li>
      <li>Madrid, Calle de Fuencarral 34</li>
    </ul>
  </div>

  <div class="returns__box">
    <h3>Paso 4</h3>
    <h3>Recibe tu reembolso</h3>
    <p>
      Una vez verificada y aprobada la calidad de los productos devueltos, Four
      Corners emitirá un abono al método de pago original y recibirás un correo
      electrónico de confirmación. El reembolso puede tardar hasta un máximo de
      5 días hábiles en ser efectivo en tu cuenta, este factor depende
      exclusivamente de tu entidad bancaria.
    </p>
  </div>
  <div class="returns__faq">
    <p>
      Para más información sobre Devoluciones, puedes consultar la página de
      <a routerLink="faq">FAQs.</a>
    </p>
  </div>
</div>
