<div class="shipping">
  <h1>Envíos</h1>
  <div class="shipping__text">
    <p>
      Envío exprés con GLS. Una vez tu pedido haya sido preparado, lo recibirás
      entre 1 y 2 días laborables.
    </p>
    <ul>
      <li>Gratis para pedidos superiores a 60€ o más</li>
      <li>3€ para pedidos por debajo de los 60€</li>
    </ul>
    <p>
      Todos los productos de Raffle están sujetos a gastos de envío fijos de 5€
      para la península y de 15€ para Canarias.
    </p>
  </div>
  <div class="shipping__info">
    <p>Podrás consultar el estado de tu pedido desde tu cuenta <a>Four Corners</a></p>
    <p>
      Para más información consulta nuestras Condiciones de compra o las FAQ’s
    </p>
    <p>¿Tienes alguna duda con tu pedido? Resuélvela <a>aquí</a></p>
  </div>
</div>
